@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url(sansation_light.woff);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: white;
}

body {
  font-family: 'Work Sans', sans-serif;
}

#screen {
  overflow: hidden;
  width: 80%;
  height: 5px;
  position: absolute;
  left: -80%;
  top: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
  transition: left 1.5s, height 1.5s;
}

#screenText {
  color: black;
  padding: 0.75em;
  font-size: 3em;
  transition: color 1.5s;
}

@media screen and (max-width: 1024px){
  #screenText {
    padding: 0.75em;
    font-size: 1.75em;
  }
}